@import '../styles/variables.scss';
@import '../styles/mixins.scss';

.header-wrapper {
  position: relative;
  width: 100%;
  padding: $large-padding $main-padding;
  box-sizing: border-box;
  display: grid;
	grid-template-areas: "logo cart";
  grid-template-columns: max-content 1fr;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: $header-color;

  @media screen and (max-width: $large-tablet-width) {
		grid-template-columns: 1fr max-content;
	}

  @media screen and (max-width: $large-mobile-width) {
		grid-template-columns: 60% 40%;
	}
}

.logo-wrapper {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;

  @media screen and (max-width: $main-tablet-width) {
    grid-template-columns: 100%;
		grid-template-rows: auto auto;
		grid-template-areas:
      "image"
      "data";
    padding-right: $large-padding;
	}

  a {
    text-decoration: none;
  }

  .logo {
    margin: 0;
    font-family: $logo-font;
    font-size: $logo-size;
    font-weight: normal;
    line-height: $logo-size;
    color: $font-color;
    transform: translateY(0px);

    @include material-text-hover();
  }

  .slogan {
    font-style: italic;

    @media screen and (min-width: $main-tablet-width) {
      margin-left: $large-padding;
    }

    @media screen and (max-width: $main-tablet-width) {
      align-self: start;
    }
  }
}

.border {
  min-width: 100%;
	mask-image: url('data:image/svg+xml;utf8, <svg viewBox="0 0 200 100" xmlns="http://www.w3.org/2000/svg"><path d="M -10 -10 L100 90 L210 -10" fill="white" stroke="none" vector-effect="non-scaling-stroke"/></svg>');
	mask-size: 4% auto;
  padding-top: 4%;
	mask-repeat: repeat-x;
	background-color: $header-color;

  @media only screen and (max-width: $main-tablet-width) {
    mask-size: 7% auto;
    padding-top: 7%;
  }

  @media only screen and (max-width: $main-mobile-width) {
    mask-size: 10% auto;
    padding-top: 10%;
  }
}

.fixed-header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: -100%;
  transition: top .2s ease-in-out;

  &.show {
    top: 0;
  }

  &.hide {
    display: none;
  }

  .header-wrapper {
    grid-template-columns: max-content 1fr;
    padding: $small-padding $main-padding;
  }

  .logo {
    font-size: $small-header-size;
  }

  .shopping-cart-button {
    grid-template-areas: "info cart-icon";
    grid-template-columns: max-content 1fr;
    grid-template-rows: auto;
  }

  .cart-icon {
    padding: $tiny-padding;
    width: 30px;
    height: 30px;
  }

  .cart-info {
    margin: 0;
    margin-right: $small-padding;
    align-self: center;
  }
}
