@mixin material-hover($transition...) {
  transform: translateY(0px);
	transition:
    $transition,
    transform $transition-length ease-in-out,
    box-shadow $transition-length ease-in-out,
    text-shadow $transition-length ease-in-out;

  &:focus,
  &:hover {
    transform: translateY(-2px);
    box-shadow: $light-shadow;
    text-shadow: $light-shadow;
  }
}

@mixin material-box-hover($transition...) {
  @include material-hover($transition);
  text-shadow: none !important;
}

@mixin material-text-hover($transition...) {
  @include material-hover($transition);
  box-shadow: none !important;
}

@mixin button-style() {
  @include material-box-hover(background-color $transition-length ease-in-out);

	height: fit-content;
	width: fit-content;
	padding: $small-padding $main-padding;
  background-color: transparent;
	font-size: $button-size;
	font-weight: bold;
	text-transform: uppercase;
  outline: none;
	box-shadow: none;
	border: 1px solid $font-color;
	cursor: pointer;

  &:active {
    transform: translateY(0px);
    transition: none;
    background-color: $success-color;
  }
}