@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.shopping-cart-button {
  display: grid;
	grid-template-areas: "info cart-icon";
  grid-template-columns: max-content 1fr;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;

  justify-self: end;

  @media screen and (max-width: $main-tablet-width) {
  	grid-template-areas:
      "cart-icon"
      "info";
		grid-template-columns: auto;
		grid-template-rows: auto auto;
	}
}

.cart-info {
  grid-area: info;
  font-style: italic;

  @media screen and (min-width: $main-tablet-width) {
    margin-right: $large-padding;
  }

  @media screen and (max-width: $main-tablet-width) {
    align-self: start;
  }
}

.cart-icon {
  @include material-box-hover(background-color $transition-length ease-in-out);

  grid-area: cart-icon;
  justify-self: center;
  background-color: $font-color;
  border-radius: 50%;
  box-sizing: content-box;

  $size: $header-size;
  width: $size;
  height: $size;

  padding: $small-padding;

  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

  &:active {
    transition: none;
    background-color: $header-color;
  }

  img {
    color: white;
    pointer-events: none;
  }
}

.cart-items {
  position: relative;
  grid-column: 2;
  margin-top: 30px;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1000;

  &.hide {
    display: none;
  }

  @media screen and (min-width: $large-mobile-width) {
    &:before {
      content: "";
      display: block;
      width: 30px;
      height: 30px;
      background: $header-color;
      top: 0;
      right: 15px;
      position: absolute;
      transform:
        translateY(-50%)
        rotate(45deg);
      z-index: 1001;
      box-shadow: $bordering-shadow;
      pointer-events: none;
    }

    &:after {
      content: "";
      display: block;
      width: 55px;
      height: 25px;
      background: $header-color;
      top: 0;
      right: 0;
      position: absolute;
      z-index: 1001;
      pointer-events: none;
    }
  }

  @media screen and (max-width: $large-mobile-width) {
    position: fixed;
    grid-area: unset;
    margin: 0;
    top: 0;
    left: 0;
  }
}

.cart-wrapper {
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
  width: 100vw;
  max-width: 300px;
  max-height: 500px;
  padding: $main-padding;
  background-color: $header-color;
  box-shadow: $bordering-shadow;
  transform: translateY(100%);
  overflow-y: auto;
  z-index: 1000;

  @media screen and (max-width: $large-mobile-width) {
    display: flex;
    flex-direction: column;
    position: relative;
    transform: none;
    width: auto;
    max-width: 100%;
    // max-height: 50vh;
    max-height: 100%;
    box-sizing: border-box;
  }
}

.close-popup {
  display: flex;
  align-items: center;
  align-self: flex-end;
  padding: $small-padding;
  width: 45px;
  height: 45px;

  @media screen and (min-width: $large-mobile-width) {
    display: none;
  }
}

.check-out {
  display: grid;
	grid-template-areas: "check-out-link total-price";
  grid-template-columns: 1fr max-content;
  justify-content: center ;
  align-items: center;

  .check-out-link {
  }

  .total-price {
    text-align: right;
  }
}