:root {
  --border-offset: 50px;
}

header {
  position: relative;
  margin-bottom: var(--border-offset);
}

.header__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100px;
  padding: 0 var(--main-padding);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: var(--header-color);
}

.logo__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.logo {
  font-family: var(--logo-font);
  font-size: var(--logo-size);
  line-height: var(--logo-size);
}

.border {
  min-width: 100%;
	position: absolute;
  padding-top: var(--border-offset);
	
	mask-image: url('data:image/svg+xml;utf8, <svg viewBox="0 0 200 100" xmlns="http://www.w3.org/2000/svg"><path d="M -10 -10 L100 90 L210 -10" fill="white" stroke="none" vector-effect="non-scaling-stroke"/></svg>');
	mask-size: 4% auto;
	mask-repeat: repeat-x;
	background-color: var(--header-color);
}

@media only screen and (max-width: 800px) {
  .border {
  	mask-size: 7% auto;
  }
}

@media only screen and (max-width: 500px) {
  .border {
  	mask-size: 10% auto;
  }
}