@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.shopping-cart-button {
  display: grid;
	grid-template-areas: "info cart-icon";
  grid-template-columns: max-content 1fr;
  grid-template-rows: 100%;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 100%;

  justify-self: end;

  @media screen and (max-width: $main-tablet-width) {
  	grid-template-areas:
      "cart-icon"
      "info";
		grid-template-columns: auto;
		grid-template-rows: auto auto;
	}
}

.cart-info {
  grid-area: info;
  font-style: italic;

  @media screen and (min-width: $main-tablet-width) {
    margin-right: $large-padding;
  }

  @media screen and (max-width: $main-tablet-width) {
    align-self: start;
  }
}

.cart-icon {
  grid-area: cart-icon;
  justify-self: center;
  background-color: $font-color;
  border-radius: 50%;

  $size: $header-size;
  width: $size;
  height: $size;

  padding: $small-padding;

  display: flex;
  align-content: center;
  justify-content: center;

  @include material-box-hover();

  img {
    color: white;
  }
}