@import '../styles/variables.scss';
@import '../styles/mixins.scss';

.product-amount {
  display: grid;
  grid-template-columns: max-content 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;

  input {
    display: block;
    box-sizing: border-box;
    width: 40px;
    height: 100%;
    text-align: center;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type=number] {
      -moz-appearance:textfield;
    }
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 30px;
    height: 30px;

    img {
      pointer-events: none;
    }
  }
}