@import '../styles/variables.scss';
@import '../styles/mixins.scss';

.product-amount {
  display: grid;
  grid-template-areas: "decrement amount increment equals product-total";
  grid-template-columns: max-content max-content max-content 1fr max-content;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;

  &.has-delete-button {
    grid-template-areas: "decrement amount increment remove equals product-total";
    grid-template-columns: max-content max-content max-content max-content 1fr max-content;
  }

  input {
    display: block;
    box-sizing: border-box;
    width: 40px;
    height: 100%;
    text-align: center;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type=number] {
      -moz-appearance:textfield;
    }
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 30px;
    height: 30px;

    img {
      pointer-events: none;
    }
  }

  .equals {
    text-align: center;
  }

  .product-total {
    justify-self: end;
  }
}