@import '../styles/variables.scss';
@import '../styles/mixins.scss';

.product-amount {
  display: grid;
  grid-template-areas: "modifiers equals product-total";
  grid-template-columns: max-content 1fr max-content;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;

  input {
    display: block;
    box-sizing: border-box;
    width: 40px;
    height: 30px;
    text-align: center;
    outline: none;
    box-shadow: none;
    border: 1px solid $font-color;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type=number] {
      -moz-appearance:textfield;
    }
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 30px;
    height: 30px;

    img {
      pointer-events: none;
    }
  }

  .product-modifiers {
    display: grid;
    grid-template-areas: "decrement amount increment";
    grid-template-columns: max-content max-content max-content;
    justify-content: center;
    align-items: center;
    align-content: center;

    &.has-delete-button {
      grid-template-areas: "remove decrement amount increment";
      grid-template-columns: max-content max-content max-content max-content;
    }
  }

  .remove, .decrement {
    margin-right: $tiny-padding;
  }

  .increment {
    margin-left: $tiny-padding;
  }

  .equals {
    text-align: end;
    margin: 0 $tiny-padding;
  }

  .product-total {
    justify-self: end;
  }
}